<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.v51das.android.skeletonapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 存取网络状态 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- 接收开机通知权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- 呼叫电话权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- 读取通讯录权限 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 振动权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 写SD权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utils.AppCtxUtil"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".sv.MyIntentService"
            android:exported="false"></service>

        <activity android:name=".activities.SvBasicActivity" />

        <service
            android:name=".sv.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activities.SvEgDownloadActivity"
            android:label="@string/title_activity_sv_eg_download"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".sv.DownloadService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activities.NetGsonActivity" />
        <activity android:name=".activities.NetJsonActivity" />
        <activity android:name=".activities.NetXmlSaxActivity" />
        <activity android:name=".activities.NetXmlPullActivity" />
        <activity android:name=".activities.NetHttpGetActivity" />
        <activity android:name=".activities.NetWebviewActivity" />
        <activity android:name=".activities.MediaVideoActivity" />
        <activity android:name=".activities.MediaAudioActivity" />
        <activity android:name=".activities.MediaCameraActivity" />
        <activity android:name=".activities.BasicNotificationActivity" />
        <activity android:name=".activities.MediaNotifyActivity" />

        <provider
            android:name=".cp.provider.MyContentProvider"
            android:authorities="com.v51das.andoid.skeletonapp.provider"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.v51das.android.skeletonapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activities.Cp4CustActivity" />
        <activity android:name=".activities.Cp4ReadContentActivity" />
        <activity android:name=".activities.Cp4RtPermActivity" />
        <activity android:name=".activities.DpDbCdActivity" />
        <activity android:name=".activities.DpSpFileActivity" />
        <activity android:name=".activities.DpFileActivity" />
        <activity android:name=".activities.BcEgMainActivity" />
        <activity android:name=".activities.BcEgActivity" />
        <activity android:name=".activities.BcLclActivity" />
        <activity android:name=".activities.BcCutActivity" />
        <activity android:name=".activities.BcOrdActivity" />
        <activity android:name=".activities.BcStdActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CustomControl4TitleAcivity"
            android:label="@string/title_activity_custom_control4_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.UIBestPracticeActivity" />
        <activity android:name=".activities.RvWaterfallActivity" />
        <activity android:name=".activities.RvVerticalActivity" />
        <activity android:name=".activities.RecyclerViewActivity" />
        <activity android:name=".activities.SerializableActivity4ResultActivity" />
        <activity android:name=".activities.ParcelableActivity4ResultActivity" />
        <activity android:name=".activities.ListViewActivity" />
        <activity android:name=".activities.NewsActivity" />
        <activity android:name=".activities.NewsContentActivity" />

        <receiver
            android:name=".bc.receiver.BootComplateReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".bc.receiver.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.v51das.android.skeletonapp.MY_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".bc.receiver.AnotherBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="com.v51das.android.skeletonapp.MY_BROADCAST" />
            </intent-filter>
        </receiver>
    </application>

</manifest>